.footer{
    display: flex;
    flex-direction: row;
    height: 4rem;
    position: relative;
    width: 80rem;
    border-radius: 20px;
    box-sizing: border-box;
    background: #cce0df;
    box-shadow:  20px 20px 60px #adbebe,
                 -20px -20px 60px #ebffff;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }